.upload-container {
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 60%;
    border: 1px solid black;
    margin-top: 100px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.file-drop-area {
    border: 2px dashed #ccc;
    padding: 40px;
    margin-bottom: 20px;
    position: relative;
}

.file-drop-area:hover {
    background-color: #f9f9f9;
}

.upload-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.upload-label {
    font-size: 16px;
    display: block;
    cursor: pointer;
    color: #666;
}

.file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.file-name {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

.separator-text {
    margin: 20px 0;
    font-size: 16px;
    color: #777;
}

.url-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.url-input {
    padding: 10px;
    width: 60%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.url-upload-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.url-upload-button:hover {
    background-color: #1976D2;
}

.error-message {
    color: red;
    margin-top: 10px;
}
